@charset "UTF-8";

/* typeface */
.body-regular {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}
.body-bold {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 150%;
}
.body-underlined {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  line-height: 150%;
}
.body-lead {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
}
.body-small {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}
.h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 61px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}
.h2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 49px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}
.h3 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 39px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}
.h4 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 31px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}
.h5 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}
.font-monospace {
  font-size: 12px;
  line-height: 150%;
}

/* color */
.color-primary {
  color: #096dd9;
}
.color-primary-dark {
  color: #0050b3;
}
.color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}
.color-gray-light {
  color: #fafafa;
}
.color-gray-dark {
  color: #434343;
}
.color-body {
  background-color: #fafafa;
}

/* color cards */
.card-color-primary {
  background-color: #096dd9;
}
.card-color-primary-dark {
  background-color: #0050b3;
}
.card-color-white {
  background-color: #ffffff;
}
.card-color-gray-light {
  background-color: #fafafa;
}
.card-color-gray-dark {
  background-color: #434343;
}
.card-color-black {
  background-color: #000000;
}

/* button */
.btn-style-filled {
  color: #ffffff;
  background-color: #096dd9;
  border: 0;
  font-weight: 400;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
}
.btn-style-filled:hover {
  background-color: #0050b3;
}
.btn-style-outlined {
  color: #096dd9;
  background-color: #ffffff;
  border: 2px solid #096dd9;
  font-weight: 400;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
}
.btn-style-outlined:hover {
  color: #ffffff;
  background-color: #096dd9;
}

/* card */
.myCard {
  border-radius: 16px;
}
.myCard:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
  /* background-color: blue !important; */
}
.myCard-img-top {
  border-radius: 8px;
}
/* default card */
.card-style-default {
  border-radius: 16px;
}
.card-style-default:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.card-style-default-img-top {
  border-radius: 8px;
}
/* customized card */
.card-style-customized {
  border-radius: 16px;
  background: transparent !important;
}
.card-style-customized:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.04) !important;
}
.card-style-customized-img-top {
  border-radius: 8px;
}

/* navbar */
.navbar-brand {
  padding: 8px;
}
.nav-link-selected {
  font-weight: 600;
}

/* sidebar */
.nav-title {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 1px !important;
}
