<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- no search engines -->
    <meta
      name="robots"
      content="noindex,nofollow,noarchive,nocache,nositelinkssearchbox,nosnippet,indexifembedded,noimageindex,noodp"
    />

    <meta name="description" content="" />
    <title>SY - Nova Design System</title>
    <link rel="icon" type="image/x-icon" href="../assets/logo/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- google fonts - Space Grotesk primary -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <!-- end -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/sidebars.css" />
    <!-- my CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="body-regular">
    <main class="d-flex flex-nowrap">
      <!-- This determines the width of the sidebar. -->
      <div
        class="flex-shrink-0 p-3 px-5 bg-white vh-100 border-end"
        style="width: 280px"
      >
        <a
          href="../index.html"
          class="d-flex align-items-center text-center p-3 my-3 link-dark text-decoration-none"
        >
          <img
            src="../assets/logo/logo.svg"
            class="ms-1 mx-auto d-block"
            alt="logo"
          />
        </a>
        <!-- nav new -->
        <ul class="nav nav-pills flex-column p-1 mb-2">
          <li class="nav-item nav-title">
            <p class="body-bold text-uppercase text-black-50 ps-3 mb-1">
              Foundation
            </p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../foundation/color.html">Color</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../foundation/typography.html"
              >Typography</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../foundation/logo.html">Logo</a>
          </li>
        </ul>
        <!-- nav new -->
        <ul class="nav nav-pills flex-column p-1 mb-2">
          <li class="nav-item nav-title">
            <p class="body-bold text-uppercase text-black-50 ps-3 mb-1">
              Components
            </p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons.html">Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="card.html">Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="navbar.html">Navbar</a>
          </li>
        </ul>
        <!-- nav new -->
        <ul class="nav nav-pills flex-column p-1 mb-2">
          <li class="nav-item nav-title">
            <p class="body-bold text-uppercase text-black-50 ps-3 mb-1">
              Page Patterns
            </p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../page-patterns/homepage.html"
              >Homepage</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../page-patterns/aboutpage.html"
              >About Page</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../page-patterns/casestudypage.html"
              >Case Study Page</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled mt-3 mb-0" href="#">© 2024</a>
          </li>
        </ul>
      </div>
      <!-- sidebar end -->

      <!-- Page Content  -->
      <div class="container-fluid overflow-auto text-start color-body">
        <!-- row -->
        <div class="row p-5">
          <div class="col-lg-9 col-md-12 col-sm-12 mb-4">
            <p class="h3">Card</p>
          </div>
          <!-- default card -->
          <!-- row 1 -->
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 mb-3">
              <p class="body-lead">
                The Nova Design System features a card component that serves as
                a versatile and expandable container for content. It boasts a
                modern and straightforward appearance, enhanced by shadows for
                depth. This component is designed for high customizability to
                suit various needs.
              </p>
              <p class="h5">Default Card</p>
              <div class="col-lg-6 col-md-12 py-2">
                <div class="card card-style-default shadow-sm border-0">
                  <div class="card-body">
                    <img
                      src="../assets/image-holder.png"
                      class="card-img-top card-style-default-img-top mb-3"
                      alt="image holder"
                    />
                    <p class="card-title text-capitalize h5">Card Title</p>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary btn-style-filled"
                      >Go somewhere</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row 1 end -->
          <!-- row 2 -->
          <div class="row mb-3">
            <div class="col-lg-9 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">HTML</div>
                <div class="card-body">
                  <pre
                    class="mb-0"
                  ><code>&lt;div class="card-style-default shadow-sm border-0"&gt;
  &lt;div class="card-body"&gt;
  &lt;img src="image-holder.png" class="card-style-default-img-top mb-3" alt="image holder"/&gt;
  &lt;p class="card-title text-capitalize h5">Card Title&lt;/p&gt;
  &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
  &lt;a href="#" class="btn btn-primary btn-style-filled"&gt;Go somewhere&lt;/a&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <!-- row 2 end -->
          <!-- row 3 -->
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">CSS</div>
                <div class="card-body">
                  <pre class="mb-0"><code>.card-style-default {
  border-radius: 16px;
}
.card-style-default:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.card-style-default-img-top {
  border-radius: 8px;
}
</code></pre>
                </div>
              </div>
            </div>
          </div>
          <!-- row 3 end -->
          <!-- customized card -->
          <!-- row 1 -->
          <div class="row mt-5">
            <div class="col-lg-9 col-md-12 col-sm-12 mb-3">
              <p class="h5">Customized Card</p>
              <div class="col-lg-6 col-md-12 py-2">
                <div class="card card-style-customized border-0">
                  <div class="card-body card-style-customized">
                    <img
                      src="../assets/image-holder.png"
                      class="card-img-top card-style-customized-img-top mb-3"
                      alt="image holder"
                    />
                    <p class="card-title text-capitalize h5">
                      Case Study Title
                    </p>
                    <p class="card-text">Short intro for the case study</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row 1 end -->
          <!-- row 2 -->
          <div class="row mb-3">
            <div class="col-lg-9 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">HTML</div>
                <div class="card-body">
                  <pre
                    class="mb-0"
                  ><code>&lt;div class="card-style-customized border-0"&gt;
  &lt;div class="card-body"&gt;
  &lt;img src="image-holder.png" class="card-style-customized-img-top mb-3" alt="image holder"/&gt;
  &lt;p class="card-title text-capitalize h5">Case Study Title&lt;/p&gt;
  &lt;p class="card-text"&gt;Short intro for the case study&lt;/p&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <!-- row 2 end -->
          <!-- row 3 -->
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">CSS</div>
                <div class="card-body">
                  <pre class="mb-0"><code>.card-style-customized {
  border-radius: 16px;
  background: transparent !important;
}
.card-style-customized:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.04) !important;
}
.card-style-customized-img-top {
  border-radius: 8px;
}
</code></pre>
                </div>
              </div>
            </div>
          </div>
          <!-- row 3 end -->
        </div>
        <!-- row end -->
      </div>
      <!-- Content end -->
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="js/sidebars.js"></script>
  </body>
</html>
